h1{
color:rgb (79, 180, 119);
font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: cadetblue;
}
body{
    background-color:rgb(155, 212, 178) ;
    background-image: url(https://www.taringa.net/posts/imagenes/19651872/Mega-Post-Wallpapers-Minimalistas-HD-4K-para-tus-fondos.html);
}
